
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@400;500&display=swap');

/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,500;1,600&display=swap');

/* ::-webkit-scrollbar{
    display: none;
} */

html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    
}

.content{
    overflow: hidden;

}
#menu {
    position: sticky;
    top:0px;
    left: 0px;
}

#menu .title{
    padding: 0 50px;
}
#menu .title img{
    width: 150px;
    height: 150px;
    
}

#menu .menu-items a{
    display: block;
    text-decoration: none;
    color: rgb(131 131 131);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
}

#menu .menu-items a:hover{
    background-color: rgb(253, 221, 226);
    transition: .9s ease-in-out;
    border-top-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

/* end menu  */


#foot-container{
    min-height: 100vh;
    /* background-color: coral; */
}
#foot-container #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    position: sticky;
    top: 0px;
    z-index: 1;
}


#foot-container #header i ,#cart .taste-header .user i{
    color: crimson;
    border:1px solid crimson;
    padding: 10px;
    border-radius: 35px;
    margin-right: 20px;
    cursor: pointer;
}

#foot-container #header i span{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 3px;
}
#biryani,#chicken,#paneer,#vegetable,#chinese,#south-indian{
    margin-top: 40px;
}
#biryani #item-cart ,#chicken #item-cart{
    background-color:rgb(253, 221, 226)
}
#paneer #item-cart , #vegetable #item-cart {
    background-color: rgb(218, 253, 18);
}
#chinese #item-cart,#south-indian #item-cart{
    background-color: rgb(221, 243, 243);

}

#item-cart{

    padding: 15px 10px;
    border-radius: 5px;
    background: rgb(253, 221, 226);
    cursor: pointer;
    transition: 0.5s all step-end;
}
#foot-container #food-items{
    display: block;
}

#foot-container .d-food-items #category-name{
    font-size: 35px;
    color: coral;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}
#item-cart #cart-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px 0;
}
#rating{
    background-color: black;
    color: goldenrod;
    font-size: 10px;
    padding: 10px;
    padding-top: 10px;
    border-radius: 10px;
}
#cart-top i:last-child{
    background-color: #fff;
    color: black;
    font-size: 20px;
    padding: 6px;
    border-radius: 10px;
}

#cart-top i.toggle-heart{
    background-color: orangered;
    color: #fff;
}

#item-cart img{
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    border-radius: 50%;
    margin-bottom: 10px;
}

#item-cart:hover img{
    transform: scale(1.1);
    transition: .9s;
}

#item-cart #item-name{
    color: darkslategray;
    font-size: 18px;
}
#item-cart #item-price{
    font-size: 18px;
    font-weight: 500;
}


/* end foot-container  */


#cart{
    min-height: 100vh;
}

#cart .taste-header{
    padding: 47px 0; 
}

#cart .taste-header .user i:hover ,#foot-container #header i:hover{
    background-color: crimson;
    color: #fff;
    transition: .6s all ease-in;
}
#cart .taste-header .user {
    text-align: center;
}

#cart #category-list{
    display: block;
}

#cart #category-list .item-menu{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: indianred;
    margin: 0;
}

#cart #category-list .border{
    width: 100px;
    height: 6px;
    background-color: coral;
    border-radius: 10px;
    margin-bottom: 30px;
}

#cart #category-list .list-card{
    margin: 20px 0px;
    cursor: pointer;
}
#cart #category-list .list-card:hover img{
    transform: scale(1.1);
    transition: .6s all ease-in-out;
}
#cart #category-list .list-card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#cart #category-list .list-card .list-name{
    text-decoration: none;
    color:rgba(94, 43, 43,.9);
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: 1px;
}
#cart #category-list .list-card:hover{
    background-color: rgb(253, 221, 226);
    border-top-right-radius:30px ;
    border-bottom-right-radius:30px ;
    transition: .6s all ease-in-out;
}



/* cart page  */

#cart-page {
    padding: 50px;
    display: none;
}
#cart-page .cart-title{
    font-size: 40px;
    font-weight: 200;
    color: coral;
}

#cart-page table{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

#cart-page table tr td{
    padding: 15px 0;
}

#cart-page table tbody tr td img{
    width: 75px;
    width: 75px;
    border-radius: 50%;
}
#cart-page table tbody tr td button{
    background-color: lightcoral;
    border-radius: 5px;
    transform: scale(.7);
    color: #fff;
    font-size: 20px;
    padding: 0px 10px;
    border: 1px solid lightcoral;
}

#cart-page .checkOut , #checkout button{
    background-color: crimson;
    border-radius: 20px;
    border: 1px solid crimson;
    margin: 10px 0;
    padding: 7px 20px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;

}

/* checkout in cart page */

#checkout{
    padding: 75px 0;
    display: none;
}
#checkout p{
    color: indianred;
    font-size: 20px;
}
#checkout p:last-child{
    color:limegreen;
    font-size: 16px;
}

#checkout p span{
    color: red;
}

#cart-page.block , #checkout.block{
    display: block;
}

#foot-container #food-items.none  , #cart #category-list.none{
    display: none;
}